@font-face {
font-family: 'digital-7';
src: url('fonts/digital-7.mono.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calcButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid #194d33;*/
  border-radius: 4px;
  background-color: #00334d;
  font-size: 32px;
  color: white;
}

.calcButton:hover {
  border: 1px solid white;
}

#calcButtonsPad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  padding: 5px;
}

#displayContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2px;
  text-align: right;
  background-color: #c2d6d6;
  border: 6px solid #00334d;
  color: #00334d;
  font-family: 'digital-7', sans-serif;
  font-size: 32px;
  padding-right: 5px;


}

#calculator {
  width: 400px; /*240px; h : w = 13 : 8 */
  height: 650px; /*390px; */
  display: grid;
  grid-template-rows: 3fr 10fr; 
  background-color: #476b6b;
}

/*correct buttons' position and size*/

#clear {
  grid-area: 1/1/2/3;
  background-image: radial-gradient(circle, #074b6e, #00334d);
  border: 2px solid #00334d;
  color: #B0052B;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  font-weight: bold;
}

#clear:hover {
  border: 1px solid white;
}

#decimal {
  grid-area: 5/3/6/4;
}

#equals {
  grid-area: 1/3/2/5;
  background-image: radial-gradient(circle, #B0052B, #00334d);
  border: 2px solid #00334d;
}

#equals:hover {
  border: 1px solid white;
}

#zero {
  grid-area: 5/1/6/3;
}

#add {
  grid-area: 2/4/3/5;  
  background-image: radial-gradient(circle, #074b6e, #00334d);
  border: 2px solid #00334d;
}

#add:hover {
  border: 1px solid white;
}

#subtract {
  grid-area: 3/4/4/5;  
  background-image: radial-gradient(circle, #074b6e, #00334d);
  border: 2px solid #00334d;
}

#subtract:hover {
  border: 1px solid white;
}

#multiply {
  grid-area: 4/4/5/5;
  background-image: radial-gradient(circle, #074b6e, #00334d);
  border: 2px solid #00334d;
}

#multiply:hover {
  border: 1px solid white;
}

#divide {
  background-image: radial-gradient(circle, #074b6e, #00334d);
  border: 2px solid #00334d;
}

#divide:hover {
  border: 1px solid white;
}

#five {
  grid-area: 3/2/4/3;
}

#six {
  grid-area: 3/3/4/4;  
}